@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/* Tags */
* {
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #f1f1f1;
    color: #0f141e;
}

h1, h2 {
    margin-bottom: 10px;
}


/* Class */

.container {
    max-width: 750px;
    margin: auto;
    margin-top: 20px;
    padding: 0 20px;
}

.card {
    border: none;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    padding: 15px;
    background-color: #fff;
}

.exctra {
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}

#courses {
    background: LightGreen;
}

#hobbies {
    background: lightblue;
}

#courses, #hobbies {
    flex-basis: 50%;
    margin: 0 5px;
}

.info {
    display: flex;
}

.avatar {
    margin-top: 10px;  
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.avatar:hover {
    opacity: 0.9;
}

.info-text { 
    margin-left: 40px;
}
.info-text p {
    color: #929293;
    text-align: justify;
    padding-bottom: 10px;
}

.form h2 {
    text-align: center;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    width: 50%;
    margin-right: 20px;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}

.form-group input, .form-group textarea {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;
}

.form h2 {
    margin-bottom: 25px;
}

/* Links & Buttons */
a {
    color: #0f141e;;
    text-decoration: none;
}

a:hover {
    color: orangered;
    text-decoration: underline;
}

a:visited {
    color: #929293;
}

a:active {
    color: orangered;
}

.btn {
    background: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
    margin: 8px 0;

}

.btn:hover {
    opacity: 0.8;
    color: orangered;
}


/* Lists & Tables */
.list {
    padding: 0 20px;
}

.list li {
    margin-bottom: 10px;
}

.link-list {
    list-style: none;
    padding: 0;
}

.link-list  li{
    margin-bottom: 10px;
    border-bottom: 1px solid #0f141e;
    padding-bottom: 5px;
}

.table {
    width: 100%;
    table-layout: fixed;
}

.table td {
    text-align: center;
}

.table td:hover {
    background: rgb(247, 247, 247);
    cursor: default;
}
.table td:nth-child(2), .table td:nth-child(3) {
    color: #86898f;
}